<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.mathbook3948.zzibot.mapper.LiveSubscriptionMapper">
    <insert id="insertLiveSubscription" parameterType="LiveSubscription">
        INSERT INTO live_subscription(guild_id, channel_id)
        VALUES (#{guildId}, #{channelId})
    </insert>

    <select id="selectLiveSubscriptionWithGuildID" parameterType="LiveSubscription" resultType="LiveSubscription">
        SELECT
            guild_id,
            channel_id,
            created_at
        FROM live_subscription
        WHERE guild_id = #{guildId}
    </select>

    <select id="selectLiveSubscriptionDistinct">
        SELECT DISTINCT ON (channel_id)
            channel_id
        FROM live_subscription
    </select>

    <select id="selectLiveSubscriptionByChannelId" parameterType="map" resultType="map">
        SELECT DISTINCT ON (ls.guild_id)
            ls.guild_id,
            lac.channel_id,
            cls.live_title
        FROM live_subscription ls
                 JOIN live_alarm_channel lac ON ls.guild_id = lac.guild_id
                JOIN chzzk_live_status cls ON ls.channel_id = cls.channel_id
        WHERE ls.channel_id = #{channelId}
        ORDER BY ls.guild_id, lac.channel_id
    </select>

    <select id="selectLiveSubscriptionWithGuildIDAndSearch" parameterType="map" resultType="map">
        SELECT
            ls.guild_id,
            ls.channel_id,
            ls.created_at,
            cls.channel_name
        FROM live_subscription ls JOIN chzzk_live_status cls ON ls.channel_id = cls.channel_id
        WHERE guild_id = #{guildId}
        <if test="search != null and search != ''">
            AND cls.channel_name ILIKE '%' || #{search} || '%'
        </if>
    </select>

    <delete id="deleteLiveSubscriptionWithChannelId" parameterType="map">
        DELETE FROM live_subscription
        WHERE guild_id = #{guildId} AND channel_id = #{channelId}
    </delete>

    <select id="selectLiveSubscriptionCount">
        SELECT
            COUNT(*)
        FROM live_subscription
    </select>
</mapper>
